#ring {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
}

#ring > .loading {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

#ring > .btn-cancel-ring {
    position: absolute;
    bottom: 80px;
}
